<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    Invitation<br>
    --------------------------
    </p>
    <p>Hi <%= @employee.name %>,</p>
    <p>   Your team name is: <%= @team_name %>. We are going <%= @restaurant_name %> Restaurant on <%= @lunch_date %>.</p>

    <p>Regards</p>
  </body>
</html>