<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    Invitation<br>
    --------------------------
    </p>
    <p>Hi <%= @employee.name%>,</p>
    <p>   Our office is planning to go restaurant this week.</p>

    <p>Regards</p>
  </body>
</html>